<div class="input-contact input-group input-group-sm-vertical my-2 d-flex flex-column justify-content-end">
    <input style="width: 100%;" type="text" class="js-input-mask form-control number" name="phone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" data-hs-mask-options='{"mask": "+(244)000-000-000"}'>
    <div class="mt-2">
      <span class="remove-phone" style="display: none;">Remover número</span>
    </div>
  </div>