<div class="navbar-vertical-content">
    <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
      <!-- Collapse -->
      <div class="nav-item">
        <a class="nav-link dropdown-toggle active" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="true" aria-controls="navbarVerticalMenuDashboards">
          <i class="bi-house-door nav-icon"></i>
          <span class="nav-link-title">Dashboards</span>
        </a>

        <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse show" data-bs-parent="#navbarVerticalMenu">
          <a class="nav-link active" href="/painelClinic">Analise Geral</a>
        </div>
      </div>
      <!-- End Collapse -->

      <span class="dropdown-header mt-4">Escala</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>

 
      <div id="navbarVerticalMenuPagesMenu">
       

        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesUserProfileMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesUserProfileMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
            <i class="bi-person nav-icon"></i>
            <span class="nav-link-title">Definição de Turnos</span>
          </a>

          <div id="navbarVerticalMenuPagesUserProfileMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="/Turnos">Turnos</a>
        
          </div>
        </div>
        <!-- End Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesAccountMenuCaralho" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenuCaralho" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
            <i class="bi-grid-1x2 nav-icon"></i>
            <span class="nav-link-title">Funcionários</span>
          </a>

          <div id="navbarVerticalMenuPagesAccountMenuCaralho" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="/Funcionarios">Overview</a>
            <a class="nav-link " href="/usuarios">Usuarios</a>
           
          
          </div>
        </div>
        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
            <i class="bi-person-badge nav-icon"></i>
            <span class="nav-link-title">Automação de escalas</span>
          </a>

          <div id="navbarVerticalMenuPagesAccountMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="#">Escalas</a>
     
          </div>
        </div>
        <!-- End Collapse -->
      
        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesEcommerceMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesEcommerceMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesEcommerceMenu">
            <i class="bi-basket nav-icon"></i>
            <span class="nav-link-title">Trocas de Turno</span>
          </a>

          <div id="navbarVerticalMenuPagesEcommerceMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="ecommerce.html">Overview</a>

            <div id="navbarVerticalMenuPagesMenuEcommerce">
              <!-- Collapse -->
              <div class="nav-item">
                <a class="nav-link dropdown-toggle" href="#navbarVerticalMenuPagesEcommerceProductsMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesEcommerceProductsMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesEcommerceProductsMenu">
                  Products
                </a>

                <div id="navbarVerticalMenuPagesEcommerceProductsMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenuEcommerce">
                  <a class="nav-link " href="ecommerce-products.html">Products</a>
                  <a class="nav-link " href="ecommerce-product-details.html">Product Details</a>
                  <a class="nav-link " href="ecommerce-add-product.html">Add Product</a>
                </div>
              </div>
 
            <a class="nav-link " href="ecommerce-checkout.html">Checkout</a>
          </div>
        </div>
        <!-- End Collapse -->

        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesProjectsMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesProjectsMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesProjectsMenu">
            <i class="bi-stickies nav-icon"></i>
            <span class="nav-link-title">Notificações e Lembretes</span>
          </a>

          <div id="navbarVerticalMenuPagesProjectsMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="projects.html">Overview</a>
            <a class="nav-link " href="projects-timeline.html">Timeline</a>
          </div>
        </div>
     

  


      <span class="dropdown-header mt-4">Emissão de Relatórios de Ocorrência</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>

      <div class="nav-item">
        <a class="nav-link " href="apps-kanban.html" data-placement="left">
          <i class="bi-kanban nav-icon"></i>
          <span class="nav-link-title">Formulários de Relatório</span>
        </a>
      </div>

      <div class="nav-item">
        <a class="nav-link " href="apps-calendar.html" data-placement="left">
          <i class="bi-calendar-week nav-icon"></i>
          <span class="nav-link-title">Registo de Detalhes</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link " href="apps-calendar.html" data-placement="left">
          <i class="bi-calendar-week nav-icon"></i>
          <span class="nav-link-title">Anexos</span>
        </a>
      </div>



    
    </div>

  </div>