<div class="navbar-vertical-content">
    <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
      <!-- Collapse -->
      <div class="nav-item">
        <a class="nav-link dropdown-toggle active" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="true" aria-controls="navbarVerticalMenuDashboards">
          <i class="bi-house-door nav-icon"></i>
          <span class="nav-link-title">Painel</span>
        </a>

        <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse show" data-bs-parent="#navbarVerticalMenu">
          <a class="nav-link active" href="/user/home">Geral</a>
     
        </div>
      </div>
      <!-- End Collapse -->

      <span class="dropdown-header mt-4">Pages</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>

      <!-- Collapse -->
      <div class="navbar-nav nav-compact">

      </div>
      <div id="navbarVerticalMenuPagesMenu">
        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesUsersMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesUsersMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUsersMenu">
            <i class="bi-people nav-icon"></i>
            <span class="nav-link-title">Funcionarios</span>
          </a>

          <div id="navbarVerticalMenuPagesUsersMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="/funcionario/Listar">Visão Geral</a>
        
          </div>
        </div>
    
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesUserProfileMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesUserProfileMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesUserProfileMenu">
            <i class="bi-person nav-icon"></i>
            <span class="nav-link-title">Usuários</span>
          </a>

          <div id="navbarVerticalMenuPagesUserProfileMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="/user/listar">Visão Geral</a>       
            <div class="nav-item">
              <a class="nav-link dropdown-toggle" href="#navbarVerticalMenuPagesEcommerceCustomersMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesEcommerceCustomersMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesEcommerceCustomersMenu">
                Outros
              </a>

              <div id="navbarVerticalMenuPagesEcommerceCustomersMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenuEcommerce">
                <a class="nav-link " href="/grupo_user">Grupos de Usuarios</a>
                <a class="nav-link " href="/Perfis_user">Perfil de Usuarios</a>
                
              </div>
            </div>
          </div>
        </div>
        <!-- End Collapse -->
        <span class="dropdown-header mt-4">Sistema</span>
        <small class="bi-three-dots nav-subtitle-replacer"></small>
        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesAccountMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAccountMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAccountMenu">
            <i class="bi-person-badge nav-icon"></i>
            <span class="nav-link-title">Log do Sistema</span>
          </a>

          <div id="navbarVerticalMenuPagesAccountMenu" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesMenu">
            <a class="nav-link " href="/user/logSistema">Visão Geral</a>
          
          </div>
        </div>
      
      </div>
      <span class="dropdown-header mt-4"> Auxiliares</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>

        <div class="nav-item">
        <a class="nav-link " href="/areas/Listar" data-placement="left">
          <i class="bi-kanban nav-icon"></i>
          <span class="nav-link-title">Areas</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesEcommerceMenuAux" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesEcommerceMenuAux" aria-expanded="false" aria-controls="navbarVerticalMenuPagesEcommerceMenuAux">
          <i class="bi-basket nav-icon"></i>
          <span class="nav-link-title">Outros</span>
        </a>
       

        <div id="navbarVerticalMenuPagesEcommerceMenuAux" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesEcommerceMenuAux">
            <a class="nav-link " href="/Orgao">Orgão</a>
            <a class="nav-link " href="/Patente">Patente</a>
            <a class="nav-link " href="/Tipo_escala">Tipo de Escala</a>
            <a class="nav-link " href="/Posicoes_escalados">Posições Escalados</a>
            <a class="nav-link " href="/Pelotao">Pelotão</a>
            <a class="nav-link " href="/Turnos">Turnos</a>
            <a class="nav-link " href="/Postos">Postos</a>
            <a class="nav-link " href="/Tipo_visita">Tipo de visitas</a>
      
      
       
        </div>
      </div>
      
      

    </div>

  </div>