<div class="navbar-vertical-content">
    <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
      <!-- Collapse -->
      <div class="nav-item">
        <a class="nav-link dropdown-toggle active" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="true" aria-controls="navbarVerticalMenuDashboards">
          <i class="bi-house-door nav-icon"></i>
          <span class="nav-link-title">Painel</span>
        </a>

        <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse show" data-bs-parent="#navbarVerticalMenu">
          <a class="nav-link active" href="/visitas/painelVisitas">Geral</a>
     
        </div>
      </div>
      <!-- End Collapse -->

      <span class="dropdown-header mt-4">Visitas</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>

      <!-- Collapse -->
      <div class="navbar-nav nav-compact">

      </div>
      <div id="navbarVerticalMenuPagesMenu">
        <!-- Collapse -->
        <div class="nav-item">
          <a class="nav-link dropdown-toggle " href="#navbarVisitas" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVisitas" aria-expanded="false" aria-controls="navbarVisitas">
            <i class="bi-people nav-icon"></i>
            <span class="nav-link-title">Visitas</span>
          </a>
          <div id="navbarVisitas" class="nav-collapse collapse " data-bs-parent="#navbarVisitas">
            <a class="nav-link " href="/visitas/Visitas">Visão Geral</a>
          </div>
        </div>    
      </div>
      <span class="dropdown-header mt-4"> Em Andamento</span>
      <small class="bi-three-dots nav-subtitle-replacer"></small>
      <div class="nav-item">
        <a class="nav-link dropdown-toggle " href="#navbarVerticalMenuPagesEcommerceMenuAux" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesEcommerceMenuAux" aria-expanded="false" aria-controls="navbarVerticalMenuPagesEcommerceMenuAux">
          <i class="bi-basket nav-icon"></i>
          <span class="nav-link-title">Codastros</span>
        </a>
        <div id="navbarVerticalMenuPagesEcommerceMenuAux" class="nav-collapse collapse " data-bs-parent="#navbarVerticalMenuPagesEcommerceMenuAux">
            <a class="nav-link " href="/visitas/VisitantesIncompletos">Visitantes</a>
             
        </div>
      </div>
      
      

    </div>

  </div>